@charset "utf-8";

:root {
  --color-fff: #fff;
  --color-000: #000;
  --brand-color: #5e2bb8;
}

body {
  visibility: hidden;
  overflow: hidden;
}

body.loaded {
  visibility: visible;
  overflow: visible;
}

/* 헤더 스타일 */
header {
  overflow: visible;
}

header .logo-link {
  background: url("../image/logo_white_ver.svg") no-repeat center / 100% auto;
}

header .gnb-item > a {
  color: var(--color-fff);
  font-size: 1.041667vw;
  transition: padding 0.5s ease;
}

header .gnb-item > a::after {
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  content: "";
  transform: translate(50%, 0);
}

header .gnb-item:hover > a::after {
  width: 100%;
  background-color: var(--brand-color);
  transition: all 0.5s ease;
}

header .nav-lnb {
  visibility: hidden;
  overflow: hidden;
  height: 0;
}

header .lnb-item > a {
  font-size: 1.041667vw;
}

header .lnb-item > a:hover {
  color: var(--brand-color);
  font-weight: 700;
}

header .global-area .radius {
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.1);
}

header .global-area .active-text {
  color: var(--color-fff);
  font-size: 0.833333vw;
}

header .search-area {
  overflow: hidden;
}

header .search-area input[type="text"] {
  border: 0;
  color: var(--color-fff);
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

header .search-area .button-search {
  background: url("../image/icon_search_white.svg") no-repeat center / 1.041667vw auto;
}

header .search-rankings {
  overflow: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  width: 5.833vw;
  height: 2.604vw;
}

header .search-rankings .slide-in {
  opacity: 0;
  transform: translateY(2.604vw);
  animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2.604vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header .rankings-list {
  transition: transform 0.5s ease;
}

header .rankings-item { 
  height: 2.604vw;
  line-height: 2.604vw; 
  opacity: 1;
  transition: opacity 0.5s ease;
}

header .rankings-item .link {
  color: var(--color-fff);
  line-height: 2.604vw;
}

header .banner {
  background-color: var(--color-fff);
}

header .banner figure {
  overflow: hidden;
  border-radius: 8px;
}

header .banner img {
  width: 100%;
  vertical-align: top;
  transition: all 0.5s ease;
}

header .banner a:hover img {
  transform: scale(1.5);
}

header .banner p {
  font-size: 1.25vw;
}

header .banner p::after {
  background: no-repeat center / 10px 10px;
  border-radius: 15px;
}

header .banner p.text-white::after {
  background-image: url("../image/icon_button_arrow_more_white.svg");
  background-color: #121619;
}

/* gnb 마우스 오버하면 active 추가 */
header.active {
  background-color: var(--color-fff);
}

header.active .logo-link {
  background: url("../image/logo.svg") no-repeat center / 100% auto;
}

header.active .nav-lnb {
  visibility: visible;
  height: max(280px, 19.53125vw);
  transition: height 0.5s ease;
}

header.active .gnb-item > a {
  padding: 0 2.083333vw;
  color: #121619;
}

header.active .banner {
  height: max(280px, 19.53125vw);
  transition: height 0.5s ease;
  border-top: 1px solid #dde1e6;
  box-sizing: border-box;
}

header.active .banner-area {
  visibility: visible;
  height: 19.53125vw;
  height: 100%;
  transition: all 0.5s ease;
}

header.active .global-area .active-text {
  color: #121619;
}

header.active .search-area form {
  background-color: #f6f6f6;
}

header.active .language-area,
header.active .company-area {
  border: 1px solid #dde1e6;
}

header.active .search-area input[type="text"] {
  color: var(--color-000);
}

header.active .search-area .button-search {
  background: url("../image/icon_search_gray.svg") no-repeat center / 1.041667vw auto;
}

header.active .rankings-item .link {
  color: var(--color-000);
}

.hamberger-wrap {
  display: none;
  /* opacity: 0;/ */
  visibility: hidden;
}

@media screen and (max-width: 1023px) {
  header {
    overflow: hidden;
  }

  header .m_global-area .search,
  header .m_global-area .menu {
    background: no-repeat center / 28px auto;
  }

  header .m_global-area .search {
    background-image: url("../image/icon_m_search_white.svg");
  }

  header .m_global-area .menu {
    background-image: url("../image/icon_m_menu_white.svg");
  }
  .hamberger-wrap {
    display: block;
  }

  .hamberger-wrap.active {
    /* display: block; */
    /* opacity: 1; */
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .hamberger-wrap.active::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hamberger-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 375px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .hamberger-wrap.active .hamberger-nav {
    transform: translateX(0%);
  }


  .hamberger-nav .top-area {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #dde1e6;
  }

  .hamberger-nav .top-area .list {
    display: flex;
  }

  .hamberger-nav .top-area .item {
    margin-right: 16px;
  }

  .hamberger-nav .top-area .item:last-child {
    margin-right: 0;
  }

  .hamberger-nav .top-area .btn-text {
    height: 40px;
    padding: 0 16px;
    border: 1px solid #000;
    border-radius: 999px;
  }

  .hamberger-nav .top-area .btn-text.kr-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .hamberger-nav .top-area .btn-text .arrow {
    display: block;
    width: 12px;
    height: 12px;
    background: url("../image/icon_kr_arrow.svg") no-repeat center / contain;
  }

  .hamberger-nav .top-area .btn-text.color {
    border: 1px solid #5e2bb8;
    color: #fff;
    background-color: #5e2bb8;
  }

  .hamberger-nav .menu-close {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 32px;
    height: 32px;
    background: url("../image/icon_m_close_btn.svg") no-repeat center / contain;
    transform: translate(0, -50%);
  }

  .hamberger-gnbArea {
    height: calc(100% - 61px);
    padding: 12px 20px 25px 20px;
    box-sizing: border-box;
  }

  .hamberger-gnb .hamberger-gnbitem {
    overflow: hidden;
  }

  .hamberger-gnb .gnb-link {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 18px;
  }

  .hamberger-gnb .gnb-link .text {
    font-weight: 700;
  }
  
  .hamberger-gnb .gnb-link .arrow {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../image/icon_m_lnb_arrow_open.svg") no-repeat center / contain;
  }
  
  .hamberger-gnb .gnb-link .arrow.active {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../image/icon_m_lnb_arrow_close.svg") no-repeat center / contain;
  }

  .hamberger-gnbArea .hb-pageLink {
    display: block;
    position: relative;
    padding: 20px;
    color: #fff;
    margin-top: 32px;
    border-radius: 8px;
    background-color: #5e2bb8;
  }

  .hamberger-gnbArea .hb-pageLink::after {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url("../image/icon_button_arrow_more_black.svg") no-repeat center / 8px 8px #fff;
    content: "";
    transform: translateY(-50%);
    border-radius: 999px;
  }

  .hamberger-lnbwrap {
    visibility: hidden;
    height: 0;
    transition: all 0.5s ease;
  }
  
  .hamberger-lnb {
    padding: 11px 0;
    border-radius: 8px;
    background-color: #f2f4f8;
  }

  .hamberger-lnb .lnb-link {
    display: block;
    padding: 9px 20px;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.3125;
  }
}

/* 콘텐츠 제목 스타일 */
main .inner {
  margin: 0 auto;
  padding: max(60px, 10.416667vw) 0;
}

main .title-area {
  text-align: center;
  margin-bottom: max(32px, 3.333333vw);
}

main .title-area h3 {
  font: 400 1.25vw / 1.5 "JourneyItself-Regular";
  color: #5e2bb8;
  margin-bottom: 12px;
}

main .title-area p {
  font: 400 2.916667vw / 1.2 "JourneyItself-Regular";
  color: #121619;
  line-height: 1.2;
}

main .link-more {
  display: inline-block;
  position: relative;
  padding: 0 50px 0 0;
  font-size: max(16px, 1.042vw);
  line-height: 1;
}

main .link-more::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: max(24px, 1.563vw);
  height: max(24px, 1.563vw);
  background: no-repeat center / 10px 10px;
  content: "";
  transform: translate(0, -50%);
  border-radius: 999px;
}

main .link-more.white::after {
  background-image: url("../image/icon_button_arrow_more_white.svg");
  background-color: #121619;
}

main .link-more.black::after {
  background-image: url("../image/icon_button_arrow_more_black.svg");
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  main .title-area {
    margin-bottom: 40px;
  }

  main .title-area h3 {
    font-size: 20px;
    margin-bottom: 6px;
  }

  main .title-area p {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  main .title-area {
    margin-bottom: 40px;
  }

  main .title-area h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  main .title-area p {
    font-size: 30px;
    word-break: keep-all;
    word-wrap: break-word;
  }
}

/* 푸터 스타일 */
footer .line {
  height: 5px;
  background: linear-gradient(90deg, rgb(94, 43, 184) 0%, rgb(8, 209, 217) 100%);
}

footer .inner {
  width: 88.645833vw;
  margin: 0 auto;
  padding: 80px 0 40px;
}

footer .footer-info,
footer .hanatour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-info .logo {
  display: block;
  width: max(75.24px, 7.421875vw);
  height: max(14.52px, 1.4322916667vw);
  background: url("../image/logo.svg") no-repeat 0 0 / 100%;
}

footer .footer-info .title {
  display: block;
  font: max(18.48px, 1.8229166667vw) "JourneyItself-Regular";
  margin-top: max(7.92px, 0.78125vw);
}

footer .site-area {
  display: flex;
}

footer .site-list {
  display: flex;
}

footer .site-list .item {
  margin-right: 0.729167vw;
}

footer .site-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(31.68px, 3.125vw);
  padding: 0 max(19.8px, 1.953125vw);
  color: #5e2bb8;
  border-radius: 999px;
  background-color: #eee9f7;
}

footer .site-list span.dot-com {
  width: 18px;
  height: 18px;
  background: url("../image/icon_button_arrow_more_purple.svg") no-repeat center / 100%;
}

footer .family-site {
  position: relative;
}

footer .family-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max(129.36px, 12.7604166667vw);
  height: max(31.68px, 3.125vw);
  padding: 0 max(19.8px, 1.953125vw);
  border: max(0.66px, 0.0651041667vw) solid #DDE1E6;
  color: #878d96;
  font-size: max(14px, 0.833333vw);
  border-radius: 999px;
  background-color: #fff;
}

footer .family-button em {
  font-style: normal;
}

footer .family-button .plus {
  display: block;
  width: 1.25vw;
  height: 1.25vw;
  background: url("../image/icon_family_icon.svg") no-repeat center / 100%;
}

footer .family-list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

footer .hanatour-info {
  margin-top: max(18.48px, 1.8229166667vw);
  padding-top: max(18.48px, 1.8229166667vw);
  border-top: max(0.66px, 0.0651041667vw) solid #DDE1E6;
}

footer .info-list {
  margin-bottom: max(5.28px, 0.5208333333vw);
}

footer .info-list .link {
  color: #121619;
  font-size: max(8.58px, 0.8463541667vw);
  font-weight: 500;
}

footer address {
  display: flex;
  margin-bottom: max(7.92px, 0.78125vw);
}

footer address dl {
  display: flex;
  color: #878d96;
  margin-right: max(15.84px, 1.5625vw);
  font-size: 0.833333vw;
  font-style: normal;
}

footer address dt {
  margin-right: max(7.92px, 0.78125vw);  
}

footer .copy {
  color: #878d96;
}

footer .sns-list {
  display: flex;
}

footer .sns-list li {
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: max(5.28px, 0.5208333333vw);
}

footer .sns-list a {
  display: block;
  width: 1.666667vw;
  height: 1.666667vw;
}

footer .sns-list .instagram {
  background-image: url("../image/icon_sns_instagram_off.svg");
}

footer .sns-list .instagram:hover {
  background-image: url("../image/icon_sns_instagram_on.svg");
}

footer .sns-list .youtube {
  background-image: url("../image/icon_sns_youtube_off.svg");
}

footer .sns-list .youtube:hover {
  background-image: url("../image/icon_sns_youtube_on.svg");
}

footer .sns-list .blog {
  background-image: url("../image/icon_sns_blog_off.svg");
}

footer .sns-list .blog:hover {
  background-image: url("../image/icon_sns_blog_on.svg");
}

footer .sns-list .kakao {
  background-image: url("../image/icon_sns_kakao_off.svg");
}

footer .sns-list .kakao:hover {
  background-image: url("../image/icon_sns_kakao_on.svg");
}

footer .sns-list .facebook {
  background-image: url("../image/icon_sns_facebook_off.svg");
}

footer .sns-list .facebook:hover {
  background-image: url("../image/icon_sns_facebook_on.svg");
}

footer .sns-list .x-com {
  background-image: url("../image/icon_sns_xblog_off.svg");
}

footer .sns-list .x-com:hover {
  background-image: url("../image/icon_sns_xblog_on.svg");
}

@media screen and (max-width: 1023px) {
  footer .footer-info,
  footer .hanatour-info {
    flex-direction: column;
    align-items: start;
  }

  footer .footer-info .logo {
    width: 88px;
    height: 17px;
  }

  footer .footer-info .title {
    font-size: 26px;
  }

  footer .site-area {
    margin-top: 18px;
  }

  footer .site-list a,
  footer .family-button {
    height: 48px;
    padding: 0 26px;
    min-width: 80px;
  }

  footer .family-site {
    width: max(96px, 28.093842vw);
  }

  footer .family-button {
    width: 100%;
  }

  footer .info-list {
    margin-bottom: max(5.28px, 0.5208333333vw);
  }
  
  footer .info-list .link {
    color: #121619;
    font-size: max(8.58px, 0.8463541667vw);
    font-weight: 500;
  }

  footer .info-list {
    margin-bottom: 12px;
  }

  footer .info-list .link {
    font-size: 14px;
  }

  footer address {
    display: flex;
    margin-bottom: 12px;
  }
  
  footer address dl {
    display: flex;
    color: #878d96;
    font-size: 14px;
    font-style: normal;
    margin-right: max(15.84px, 1.5625vw);
  }
  
  footer address dt {
    margin-right: 12px;
  }
  
  footer .copy {
    color: #878d96;
    font-size: 14px;
  }
  
  footer .sns-list {
    display: flex;
    margin-top: 16px;
  }
  
  footer .sns-list li {
    margin-right: 8px;
  }
  
  footer .sns-list a {
    display: block;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  footer .site-area {
    flex-direction: column;
  }

  footer .site-area {
    width: 100%;
  }

  footer .site-list a, 
  footer .family-button {
    padding: 0;
  }
  
  footer .family-button {
    padding: 0 20px;
  }

  footer .site-list {
    margin-bottom: 12px;
  }

  footer .site-list .item {
    width: calc(100% / 3);
  }

  footer .site-list .item-dot-com {
    width: 40%;
  }

  footer .site-list .item:last-child {
    margin-right: 0;
  }

  footer .family-site {
    width: 100%;
  }

  footer .family-button .plus {
    width: 20px;
    height: 20px;
  }

  footer address {
    flex-direction: column;
  }

  footer address dl {
    margin-bottom: 8px;
  }
}