@charset "utf-8";

:root {
  --color-fff: #fff;
  --color-000: #000;
  --brand-color: #5e2bb8;
}

body {
  visibility: hidden;
  overflow: hidden;
}

body.loaded {
  visibility: visible;
  overflow: visible;
}

/* 헤더 스타일 */
header .logo-link {
  background: url("../image/logo_white_ver.svg") no-repeat center / 100% auto;
}

header .gnb-item > a {
  color: var(--color-fff);
  font-size: 1.041667vw;
  transition: padding 0.5s ease;
}

header .gnb-item > a::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 0);
  width: 0;
  height: 2px;
}

header .gnb-item:hover > a::after {
  width: 100%;
  background-color: var(--brand-color);
  transition: all 0.5s ease;
}

header .nav-lnb {
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

header .lnb-item > a {
  font-size: 1.041667vw;
}

header .lnb-item > a:hover {
  color: var(--brand-color);
  font-weight: 700;
}

header .global-area .radius {
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.1);
}

header .global-area .active-text {
  color: var(--color-fff);
  font-size: 0.833333vw;
}

header .search-area {
  overflow: hidden;
}

header .search-area input[type="text"] {
  color: var(--color-fff);
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

header .search-area .button-search {
  background: url("../image/icon_search_white.svg") no-repeat center / 1.041667vw auto;
}

header .search-rankings {
  height: 2.604vw;
  overflow: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  width: 5.833vw;
}

header .search-rankings .slide-in {
  opacity: 0;
  transform: translateY(2.604vw);
  animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2.604vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header .rankings-list {
  transition: transform 0.5s ease;
}

header .rankings-item { 
  height: 2.604vw;
  line-height: 2.604vw; 
  opacity: 1;
  transition: opacity 0.5s ease;
}

header .rankings-item .link {
  color: var(--color-fff);
  line-height: 2.604vw;
}

header .banner {
  background-color: var(--color-fff);
}

header .banner figure {
  border-radius: 8px;
  overflow: hidden;
}

header .banner img {
  width: 100%;
  vertical-align: top;
  transition: all 0.5s ease;
}

header .banner a:hover img {
  transform: scale(1.5);
}

header .banner p {
  font-size: 1.25vw;
}

header .banner p::after {
  border-radius: 15px;
  background: no-repeat center / 10px 10px;
}

header .banner p.text-white::after {
  background-image: url("../image/icon_button_arrow_more_white.svg");
  background-color: #121619;
}

/* gnb 마우스 오버하면 active 추가 */
header.active {
  background-color: var(--color-fff);
}

header.active .logo-link {
  background: url("../image/logo.svg") no-repeat center / 100% auto;
}

header.active .nav-lnb {
  visibility: visible;
  transition: height 0.5s ease;
  height: max(280px, 19.53125vw);
}

header.active .gnb-item > a {
  color: #121619;
  padding: 0 2.083333vw;
}

header.active .banner {
  transition: height 0.5s ease;
  border-top: 1px solid #dde1e6;
  box-sizing: border-box;
  height: max(280px, 19.53125vw);
}

header.active .banner-area {
  visibility: visible;
  height: 19.53125vw;
  height: 100%;
  transition: all 0.5s ease;
}

header.active .global-area .active-text {
  color: #121619;
}

header.active .search-area form {
  background-color: #f6f6f6;
}

header.active .language-area,
header.active .company-area {
  border: 1px solid #dde1e6;
}

header.active .search-area input[type="text"] {
  color: var(--color-000);
}

header.active .search-area .button-search {
  background: url("../image/icon_search_gray.svg") no-repeat center / 1.041667vw auto;
}

header.active .rankings-item .link {
  color: var(--color-000);
}

@media screen and (max-width: 1023px) {
  header .m_global-area .search,
  header .m_global-area .menu {
    background: no-repeat center / 28px auto;
  }

  header .m_global-area .search {
    background-image: url("../image/icon_m_search_white.svg");
  }

  header .m_global-area .menu {
    background-image: url("../image/icon_m_menu_white.svg");
  }
}

/* 콘텐츠 제목 스타일 */
main .inner {
  margin: 0 auto;
  padding: max(60px, 10.416667vw) 0;
}

main .title-area {
  text-align: center;
  margin-bottom: max(32px, 3.333333vw);
}

main .title-area h3 {
  margin-bottom: 12px;
  font: 400 1.25vw / 1.5 "JourneyItself-Regular";
  color: #5e2bb8;
}

main .title-area p {
  font: 400 2.916667vw / 1.2 "JourneyItself-Regular";
  color: #121619;
  line-height: 1.2;
}

main .link-more {
  position: relative;
  display: inline-block;
  padding: 0 50px 0 0;
  font-size: max(16px, 1.042vw);
  line-height: 1;
}

main .link-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: max(24px, 1.563vw);
  height: max(24px, 1.563vw);
  border-radius: 999px;
  background: no-repeat center / 10px 10px;
}

main .link-more.white::after {
  background-image: url("../image/icon_button_arrow_more_white.svg");
  background-color: #121619;
}

main .link-more.black::after {
  background-image: url("../image/icon_button_arrow_more_black.svg");
  background-color: #fff;
}

@media screen and (max-width: 1023px) {
  main .title-area {
    margin-bottom: 40px;
  }

  main .title-area h3 {
    font-size: 20px;
    margin-bottom: 6px;
  }

  main .title-area p {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  main .title-area {
    margin-bottom: 40px;
  }

  main .title-area h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  main .title-area p {
    font-size: 30px;
    word-break: keep-all;
    word-wrap: break-word;
  }
}