@charset "utf-8";

/* 헤더 공통 레이아웃  */
header .inner,
header .gnb-item > a {
  height: max(80px, 5.208333vw);
}

header .search-area,
header .language-area,
header .company-area {
  height: 2.604167vw;
  margin-right: 0.520833vw;
}

header .language-area,
header .company-area {
  display: flex;
  align-items: center;
  padding: 0 1.041667vw;
}

/* 헤더 레이아웃 */
header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10000;
}

header .inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 max(16px, 2.604167vw);
}

header .logo-link {
  display: block;
  width: 7.395833vw;
  height: 1.458333vw;
}

header .nav {
  position: absolute;
  top: 0;
  left: calc(50% - 80px);
  transform: translate(-50%, 0);
}

header .gnb-list {
  display: flex;
}

header .gnb-item > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 max(12px, 1.458333vw);
}

header .lnb-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.875vw;
  height: 100%;
  box-sizing: border-box;
}

header .lnb-item + .lnb-item {
  margin-top: 0.833333vw;
}

header .global-area {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 2.604167vw;
  transform: translate(0, -50%);
}

header .global-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.114583vw;
  height: 100%;
}

header .global-area input[type="text"] {
  width: 5.833333vw;
}

header .global-area .button-search {
  width: 1.5625vw;
  height: 1.5625vw;
}

header .rankings-list {
  position: absolute;
  top: 0;
  left: max(9.24px, 0.9114583333vw);
  width: 5.417vw;
  overflow: hidden;
}

header .rankings-item .link {
  font-size: max(8.58px, 0.8463541667vw);
  letter-spacing: -0.01em;
  line-height: 3.0769230769;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: normal;
  line-height: 3.0769230769;
  max-height: 3.0769230769em;
}

header .language-item {
  display: none;
}

header .language-item.on {
  display: block;
}

header .banner {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  z-index: -1;
}

header .banner-area {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  position: absolute;
  right: 2.604167vw;
  width: 16.666667vw;
}

header .banner a {
  display: block;
  padding-top: max(18px, 1.875vw);
  height: 100%;
  box-sizing: border-box;
}

header .banner p {
  position: relative;
  margin-top: max(14px, 1.458333vw);
}

header .banner p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1.5625vw;
  height: 1.5625vw;
}

/* 헤더 모바일 */
header .m_global-area {
  display: none;
}

@media screen and (max-width: 1023px) {
  header .nav,
  header .global-area,
  header .banner {
    display: none;
  }

  header .inner {
    justify-content: space-between;
    align-items: center;
  }

  header .logo-link {
    width: 118px;
    height: 24px;
  }

  header .m_global-area {
    display: flex;
  }

  header .m_global-area .search,
  header .m_global-area .menu {
    display: block;
    width: 38px;
    height: 38px;
  }
}

/* visual 레이아웃 */
.sec-visual .text-area {
  position: absolute;
  bottom: max(120px, 11.71875vw);
  left: 5.208333vw;
  z-index: 1;
}

.sec-visual .text-area h3 {
  margin-bottom: max(8px, 1.041667vw);
}

.sec-visual video {
  width: 100%;
  height: 100vh;
}

.sec-visual .video-control {
  position: absolute;
  bottom: max(81.84px, 8.0729166667vw);
  left: max(52.8px, 5.2083333333vw);
  z-index: 1;
  display: flex;
  align-items: center;
}

.sec-visual .video-button {
  display: flex;
}

.sec-visual .video-player {
  width: 24px;
  height: 24px;
}

@media (max-width: 1023px) {
  .sec-visual .text-area {
    left: 40px;
  }

  .sec-visual .video-control {
    left: 40px;
    bottom: 64px;
  }
}

@media (max-width: 767px) {
  .sec-visual .text-area {
    left: 20px;
  }

  .sec-visual .video-control {
    left: 20px;
    bottom: 64px;
  }
}

/* highlight 레이아웃 */
.sec-highlight .horizontal-scroll {
  display: flex;
}

.sec-highlight .company-info {
  display: flex;
  height: 31.2500vw;
  padding: 0 5.2083vw;
  margin-top: 3.3333vw;
}

.sec-highlight .company-info .area {
  margin-right: 1.8750vw;
}

.sec-highlight .company-info .mb {
  margin-bottom: 1.8750vw;
}

.sec-highlight .company-info .mr {
  margin-right: 1.8750vw;
}

.sec-highlight .company-info .wrap {
  border-radius: 0.6250vw;
  background-color: #e5e9f1;
  height: 14.6875vw;
  padding: 4.2708vw 2.6042vw 0;
  box-sizing: border-box;
}

.sec-highlight .company-info .contents-area {
  border-radius: 0.6250vw;
  background-color: #e5e9f1;
  height: 14.6875vw;
  padding: 4.2708vw 2.6042vw 0;
  box-sizing: border-box;
}

.sec-highlight .company-info .text-area {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sec-highlight .company-info .text-area em {
  font-size: 1.3021vw;
  color: #000;
  font-style: normal;
}

.sec-highlight .company-info .text-area strong {
  font-size: 3.7500vw;
  color: #5e2bb8;
}

.sec-highlight .company-info .text-area span {
  font-size: 1.0417vw;
}

.sec-highlight .brand-2023 img,
.sec-highlight .ccm img {
  width: 25.0000vw;
  height: 31.2500vw;
  vertical-align: top;
}

/* 애니메이션 */
.sec-highlight .brand-2023 figure {
  perspective: 52.0833vw;
  background-color: #fff;
  /* transform-style: preserve-3d; */
}

/* 애니메이션 */
.sec-highlight .brand-2023 img {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
}

.sec-highlight .financial-analysis .data {
  display: flex;
}

.sec-highlight .stats-area .year-area {
  perspective: 52.0833vw;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.sec-highlight .stats-area .data-year {
  position: relative;
  display: flex;
  width: 32.5521vw;
  justify-content: space-between;
  background-color: #08d1d9;
}

.sec-highlight .stats-area .data-year {
  transform: rotateX(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition-timing-function: linear;
  backface-visibility: hidden;
}

/* 애니메이션 */
.sec-highlight .stats-area .data-year.active {
  transform: rotateX(0);
  transform-origin: center top;
}

.sec-highlight .stats-area .data-year::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 3.6458vw;
  transform: translate(0, -50%);
  width: 0.1042vw;
  height: 2.9167vw;
  background-color: #fff;
  opacity: 0.3;
}

.sec-highlight .stats-area .data-year em {
  color: #106c80;
}

.sec-highlight .stats-area .data-year strong {
  color: #fff;
}

.sec-highlight .stats-area .data-user {
  width: 16.9271vw;
}

/* 애니메이션 */
.sec-highlight .stats-area .animation {
  perspective: 52.0833vw;
  background-color: #fff;
}

/* 애니메이션 */
.sec-highlight .stats-area .animation .data-user {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.sec-highlight .metrics-area .data-user {
  width: 18.2292vw;
}

/* 애니메이션 */
.sec-highlight .metrics-area .animation {
  perspective: 52.0833vw;
  background-color: #fff;
}

/* 애니메이션 */
.sec-highlight .metrics-area .animation .data-user {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.sec-highlight .metrics-area .data-growth {
  background: url("../image/highlight_graph.png") no-repeat right 0 / 17.7083vw auto #e5e9f1;
  width: 31.2500vw;
}

/* 애니메이션 */
.sec-highlight .metrics-area .animation .data-growth {
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}

.sec-highlight .user-member {
  width: 26.0417vw;
}

/* 애니메이션 */
.sec-highlight .user-member {
  perspective: 52.0833vw;
  background-color: #fff;
}

/* 애니메이션 */
.sec-highlight .user-member .bg {
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}

.sec-highlight .user-member .bg {
  background: url("../image/highlight_card.jpg") no-repeat 4.6875vw center / 7.0833vw auto #e5e9f1;
}

.sec-highlight .user-member .text-area {
  padding-left: 10.4167vw;
}

/* 애니메이션 */
.sec-highlight .growth {
  perspective: 52.0833vw;
  background-color: #fff;
}

/* 애니메이션 */
.sec-highlight .growth .bg {
  background: url("../image/highlight_since.png") no-repeat center / 23.3333vw auto #D7D8DF;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.sec-highlight .esg {
  width: 33.8542vw;
  perspective: 52.0833vw;
  background-color: #fff;
}

.sec-highlight .esg .bg {
  background: url("../image/highlight_esg.png") no-repeat center / 23.3333vw auto #e5e9f1;
}

/* 애니메이션 */
.sec-highlight .esg .bg {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition-timing-function: linear;
}

/* 애니메이션 */
.sec-highlight .esg .bg.active {
  transform: rotateY(0);
}

.sec-highlight .operate {
  width: 33.8542vw;
}

.sec-highlight .operate .data-year {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #6940C3;
}

/* 애니메이션 */
.sec-highlight .operate {
  perspective: 52.0833vw;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

/* 애니메이션 */
.sec-highlight .operate .data-year {
  transform: rotateX(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition-timing-function: linear;
  backface-visibility: hidden;
}

/* 애니메이션 */
.sec-highlight .operate .data-year.active {
  transform: rotateX(0);
  transform-origin: center top;
}

.sec-highlight .operate .data-year::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 3.6458vw;
  transform: translate(0, -50%);
  width: 0.1042vw;
  height: 2.9167vw;
  background-color: #fff;
  opacity: 0.3;
}

.sec-highlight .operate .data-year em,
.sec-highlight .operate .data-year strong {
  color: #fff;
}

/* 애니메이션 */
.sec-highlight .ccm figure {
  perspective: 52.0833vw;
  background-color: #fff;
}

/* 애니메이션 */
.sec-highlight .ccm img {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transition-timing-function: linear;
}

/* 애니메이션 */
.sec-highlight .ccm img.active {
  transform: rotate(0);
}

.sec-highlight .bar {
  padding-top: 1.8750vw;
}

.sec-highlight .bar-inner {
  position: relative;
  width: 72.9167vw;
  margin: 0 auto;
}

.sec-highlight .bar-area {
  position: relative;
  width: 90px;
  height: 2px;
  background-color: #C1C7CD;
  border-radius: 999px;
  margin: 0 auto;
}

.sec-highlight .bar-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2500vw;
  height: 0.1042vw;
  background-color: #878D96;
  border-radius: 52.0313vw;
}

.sec-highlight .bar-inner b {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-size: 0.9375vw;
  font-weight: 500;
  color: #697077;
}

@media (max-width: 1023px) {
  .sec-highlight .company-info {
    /* width: 2302px; */
    height: 412px;
    margin-top: 42px;
    padding: 0 40px;
  }

  .sec-highlight .company-info .area {
    margin-right: 20px;
  }
  
  .sec-highlight .company-info .mb {
    margin-bottom: 20px;
  }

  .sec-highlight .company-info .mr {
    margin-right: 20px;
  }
  .sec-highlight .company-info .contents-area {
    height: 196px;
    padding: 32px
  }

  .sec-highlight .company-info .text-area em {
    font-size: 20px;
  }

  .sec-highlight .company-info .text-area strong {
    font-size: 46px;
  }

  .sec-highlight .company-info .text-area span {
    font-size: 18px;
  }

  .sec-highlight .brand-2023 img,
  .sec-highlight .ccm img {
    width: 318px;
    height: 100%;
  }
  .sec-highlight .stats-area .data-year {
    align-items: center;
    width: 406px;
  }

  .sec-highlight .stats-area .data-year::after {
    width: 2px;
    height: 45px;
  }
  
  .sec-highlight .metrics-area .data-user {
    display: flex;
    align-items: center;
    width: 240px;
  }

  .sec-highlight .stats-area .data-user {
    display: flex;
    align-items: center;
    width: 240px;
  }

  .sec-highlight .metrics-area .data-growth {
    display: flex;
    align-items: center;
    width: 406px;
    background-size: 262px auto;
  }

  .sec-highlight .user-member {
    width: 380px;
  }

  .sec-highlight .user-member .bg {
    display: flex;
    align-items: center;
    background-size: 110px auto;
  }

  .sec-highlight .user-member .text-area  {
    padding-left: 50%;
  }

  .sec-highlight .growth .bg {
    background-size: calc(100% - 40px);
  }

  .sec-highlight .esg {
    width: 460px;
  }

  .sec-highlight .esg .bg {
    background-size: calc(100% - 40px);
  }

  .sec-highlight .operate {
    width: 460px;
  }

  .sec-highlight .operate .data-year {
    align-items: center;
  }

  .sec-highlight .operate .data-year::after {
    width: 2px;
    height: 45px;
  }

  .sec-highlight .ccm figure {
    height: 100%;
  }
}