@charset "utf-8";

/* 헤더 공통 레이아웃  */
header .inner,
header .gnb-item > a {
  height: max(80px, 5.208333vw);
}

header .search-area,
header .language-area,
header .company-area {
  height: 2.604167vw;
  margin-right: 0.520833vw;
}

header .language-area,
header .company-area {
  display: flex;
  align-items: center;
  padding: 0 1.041667vw;
}

/* 헤더 레이아웃 */
header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10000;
}

header .inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 max(16px, 2.604167vw);
}

header .logo-link {
  display: block;
  width: 7.395833vw;
  height: 1.458333vw;
}

header .nav {
  position: absolute;
  top: 0;
  left: calc(50% - 80px);
  transform: translate(-50%, 0);
}

header .gnb-list {
  display: flex;
}

header .gnb-item > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 max(12px, 1.458333vw);
}

header .lnb-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.875vw;
  height: 100%;
  box-sizing: border-box;
}

header .lnb-item + .lnb-item {
  margin-top: 0.833333vw;
}

header .global-area {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 2.604167vw;
  transform: translate(0, -50%);
}

header .global-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.114583vw;
  height: 100%;
}

header .global-area input[type="text"] {
  width: 5.833333vw;
}

header .global-area .button-search {
  width: 1.5625vw;
  height: 1.5625vw;
}

header .rankings-list {
  position: absolute;
  top: 0;
  left: max(9.24px, 0.9114583333vw);
  width: 5.417vw;
  overflow: hidden;
}

header .rankings-item .link {
  font-size: max(8.58px, 0.8463541667vw);
  letter-spacing: -0.01em;
  line-height: 3.0769230769;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: normal;
  line-height: 3.0769230769;
  max-height: 3.0769230769em;
}

header .language-item {
  display: none;
}

header .language-item.on {
  display: block;
}

header .banner {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  z-index: -1;
}

header .banner-area {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  position: absolute;
  right: 2.604167vw;
  width: 16.666667vw;
}

header .banner a {
  display: block;
  padding-top: max(18px, 1.875vw);
  height: 100%;
  box-sizing: border-box;
}

header .banner p {
  position: relative;
  margin-top: max(14px, 1.458333vw);
}

header .banner p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1.5625vw;
  height: 1.5625vw;
}

/* 헤더 모바일 */
header .m_global-area {
  display: none;
}

@media screen and (max-width: 1023px) {
  header .nav,
  header .global-area,
  header .banner {
    display: none;
  }

  header .inner {
    justify-content: space-between;
    align-items: center;
  }

  header .logo-link {
    width: 118px;
    height: 24px;
  }

  header .m_global-area {
    display: flex;
  }

  header .m_global-area .search,
  header .m_global-area .menu {
    display: block;
    width: 38px;
    height: 38px;
  }
}

/* visual 레이아웃 */
.sec-visual .text-area {
  position: absolute;
  bottom: max(120px, 11.71875vw);
  left: 5.208333vw;
  z-index: 1;
}

.sec-visual .text-area h3 {
  margin-bottom: max(8px, 1.041667vw);
}

.sec-visual video {
  width: 100%;
  height: 100vh;
}

.sec-visual .video-control {
  position: absolute;
  bottom: max(81.84px, 8.0729166667vw);
  left: max(52.8px, 5.2083333333vw);
  z-index: 1;
  display: flex;
  align-items: center;
}

.sec-visual .video-button {
  display: flex;
}

.sec-visual .video-player {
  width: 24px;
  height: 24px;
}

@media (max-width: 1023px) {
  .sec-visual .text-area {
    left: 40px;
  }

  .sec-visual .video-control {
    left: 40px;
    bottom: 64px;
  }
}

@media (max-width: 767px) {
  .sec-visual .text-area {
    left: 20px;
  }

  .sec-visual .video-control {
    left: 20px;
    bottom: 64px;
  }
}

/* highlight 레이아웃 */
.sec-highlight .horizontal-scroll {
  display: flex;
}

.sec-highlight .company-info {
  display: flex;
  height: 31.2500vw;
  padding: 0 5.2083vw;
  margin-top: 3.3333vw;
}

.sec-highlight .mb {
  margin-bottom: 1.8750vw;
}

.sec-highlight .mr {
  margin-right: 1.8750vw;
}

.sec-highlight .contents-area {
  display: flex;
  align-items: center;
  height: 14.6875vw;
  padding: 2.6042vw;
  box-sizing: border-box;
}

.sec-highlight .text-area em,
.sec-highlight .text-area strong {
  display: block;
}

.sec-highlight .brand-2023 img,
.sec-highlight .ccm img {
  width: 25.0000vw;
  height: 31.2500vw;
  vertical-align: top;
}

.sec-highlight .financial-analysis .data {
  display: flex;
}

.sec-highlight .stats-area .data-year {
  position: relative;
  display: flex;
  width: 32.5521vw;
  justify-content: space-between;
}

.sec-highlight .stats-area .data-year::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 3.6458vw;
  transform: translate(0, -50%);
  width: 0.1042vw;
  height: 2.9167vw;
}

.sec-highlight .stats-area .data-user {
  width: 16.9271vw;
}

.sec-highlight .metrics-area .data-user {
  width: 18.2292vw;
}

.sec-highlight .metrics-area .data-growth {
  width: 31.2500vw;
}

.sec-highlight .user-member {
  width: 26.0417vw;
}

.sec-highlight .user-member .flex-right {
  justify-content: flex-end;
}

.sec-highlight .esg {
  width: 33.8542vw;
}

.sec-highlight .operate {
  width: 33.8542vw;
}

.sec-highlight .operate .data-year {
  position: relative;
  display: flex;
  justify-content: space-between;
}


.sec-highlight .operate .data-year::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 3.6458vw;
  transform: translate(0, -50%);
  width: 0.1042vw;
  height: 2.9167vw;
}

.sec-highlight .bar {
  padding-top: max(20px, 1.8750vw);
}

.sec-highlight .bar-inner {
  position: relative;
  width: 72.9167vw;
  margin: 0 auto;
}

.sec-highlight .bar-area {
  position: relative;
  width: max(50px, 4.688vw);
  height: 2px;
  margin: 0 auto;
}

.sec-highlight .bar-element {
  position: absolute;
  top: 0;
  left: 0;
  width: max(20px, 1.2500vw);
  height: 2px;
}

.sec-highlight .bar-inner b {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

@media (max-width: 1023px) {
  .sec-highlight .company-info {
    /* width: 2302px; */
    height: 412px;
    margin-top: 42px;
    padding: 0 40px;
  }

  .sec-highlight .area {
    margin-right: 20px;
  }
  
  .sec-highlight .mb {
    margin-bottom: 20px;
  }

  .sec-highlight .mr {
    margin-right: 20px;
  }

  .sec-highlight .contents-area {
    height: 196px;
    padding: 32px
  }

  .sec-highlight .brand-2023 img,
  .sec-highlight .ccm img {
    width: 318px;
    height: 100%;
  }

  .sec-highlight .stats-area .data-year {
    align-items: center;
    width: 406px;
  }

  .sec-highlight .stats-area .data-year::after {
    width: 2px;
    height: 45px;
  }

  .sec-highlight .metrics-area .data-user {
    display: flex;
    align-items: center;
    width: 240px;
  }

  .sec-highlight .stats-area .data-user {
    display: flex;
    align-items: center;
    width: 240px;
  }

  .sec-highlight .metrics-area .data-growth {
    display: flex;
    align-items: center;
    width: 406px;
  }

  .sec-highlight .user-member {
    width: 380px;
  }

  .sec-highlight .user-member .text-area  {
    padding-left: 50%;
  }

  .sec-highlight .esg {
    width: 460px;
  }

  .sec-highlight .operate {
    width: 460px;
  }

  .sec-highlight .operate .data-year {
    align-items: center;
  }

  .sec-highlight .operate .data-year::after {
    width: 2px;
    height: 45px;
  }

  .sec-highlight .brand-2023 figure,
  .sec-highlight .ccm figure {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .sec-highlight .company-info {
    height: 386px;
    padding: 0 20px;
  }

  .sec-highlight .contents-area {
    height: 183px;
  }

  .sec-highlight .brand-2023 img,
  .sec-highlight .ccm img {
    width: 295px;
    height: 100%;
  }

  .sec-highlight .stats-area .data-year {
    width: 364px;
  }

  .sec-highlight .metrics-area .data-growth {
    width: 364px;
  }

  .sec-highlight .user-member {
    width: 356px;
  }

  .sec-highlight .esg {
    width: 430px;
  }

  .sec-highlight .operate {
    width: 430px;
  }

  .sec-highlight .ccm img {
    width: 318px;
  }
}

/* business 레이아웃 */
.sec-business .list {
  width: 66.667vw;
  margin: 0 auto;
}

.sec-business .item {
  width: calc((100% / 3) - 20px);
  margin: 0 30px 0 0;
}

.sec-business .item:last-child {
  margin: 0;
}

.sec-business .item .animation {
  position: relative;
  height: 26.042vw;
}

.sec-business .item-obverse {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sec-business .item-obverse strong {
  position: absolute;
  top: 1.875vw;
  left: 1.875vw;
}

.sec-business .item-obverse img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.sec-business .item-verso {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: max(18px, 1.875vw);
}

.sec-business .item-verso dfn {
  display: block;
  margin: 0 0 max(16px, 1.042vw) 0;
}

.sec-business .item-verso .link-more.white::after {
  left: max(80px, 5.208vw);
}

@media screen and (max-width: 1023px) {
  .sec-business .list {
    width: 752px;
  }

  .sec-business .item {
    width: calc((100% / 3) - 10px);
    margin: 0 15px 0 0;
  }

  .sec-business .item .animation {
    height: 344px;
  }

  .sec-business .item-obverse {
    width: 100%;
    height: 160px;
  }

  .sec-business .item-obverse strong {
    top: 20px;
    left: 20px;
  }

  .sec-business .item-obverse img {
    height: initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .sec-business .item-verso {
    position: absolute;
    top: initial;
    left: initial;
    bottom: 0;
    height: 184px;
    padding: 20px;
  }

  .sec-business .item-verso dfn {
    display: none;
  }

  .sec-business .item-verso .link-more.white::after {
    left: 70px;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 782px) {
  .sec-business .title-area {
    margin-bottom: 42px;
  }

  .sec-business .title-area p {
    margin-bottom: 6px;
  }

  .sec-business .list {
    width: 100%;
  }

  .sec-business .item-obverse img {
    height: 160px;
  }
}